### Default ignore for this project ###
config.yaml
data/
./wg-access-server
site/

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

### website react app ###

# dependencies
website/node_modules
website/.pnp
website/.pnp.js

# testing
website/coverage

# production
website/build

# misc
.env
website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/yarn.lock


