@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('../public/roboto/roboto-latin-400.woff2') format('woff2'),
    url('../public/roboto/roboto-latin-400.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('../public/roboto/roboto-latin-500.woff2') format('woff2'),
    url('../public/roboto/roboto-latin-500.woff') format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevents the 'Server Info' panel from breaking the page layout if there is a large number of allowed ips. */
code {
  overflow-x: scroll;
}

/* Reduces the padding of the overview tables on the admin page for better legibility with large number of table entries. */
td.MuiTableCell-root, th.MuiTableCell-root {
  padding: 8px;
}

/* Improves readability of error message in 'add device' dialog. */
.MuiFormHelperText-root.Mui-error {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 100%;
}

.MuiFormHelperText-root.Mui-error svg {
  position: relative;
  top: 0.25em;
  margin-right: 8px;
}
