name: Build and push docker images

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare
        id: prep
        run: |
          TAGS=""
          IMAGE="place1/wg-access-server"

          if [[ "$GITHUB_REF" == refs/heads/master ]]; then
            TAGS="$IMAGE:master"
          elif [[ "$GITHUB_REF" == refs/tags/* ]]; then
            VERSION="${GITHUB_REF#refs/tags/}"
            TAGS="$IMAGE:$VERSION"
            if [[ ! "$VERSION" =~ -rc.* ]]; then
              TAGS="$TAGS,$IMAGE:latest"
            fi
          fi

          echo "building ref: $GITHUB_REF"
          echo "docker images: $TAGS"
          echo ::set-output name=tags::${TAGS}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          driver-opts: image=moby/buildkit:v0.8-beta

      - name: Login Docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-dir

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.prep.outputs.tags }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
