name: Build and push docker images

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare
        id: prep
        run: |
          echo "building ref: $GITHUB_REF"

          TAG=null
          IMAGE=place1/wg-access-server
          if [[ "$GITHUB_REF" == refs/heads/master ]]; then
            TAG="$IMAGE:master"
          elif [[ "$GITHUB_REF" == refs/tags/* ]]; then
            VERSION="${REF#refs/tags/}"
            TAG="$IMAGE:$VERSION,$IMAGE:latest"
          fi

          echo ::set-output name=tag::${TAG}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          driver-opts: image=moby/buildkit:v0.8-beta

      - name: Login Docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7
          push: true
          tags: ${{ steps.prep.outputs.tag }}
